[Unit]
Description=ScopeWarden Daemon & API
After=network.target

[Service]
Type=simple
WorkingDirectory=/var/lib/scopewarden
ExecStart=/usr/bin/scopewarden-daemon
Restart=always
RestartSec=10
StandardOutput=journal
StandardError=journal
EnvironmentFile=/etc/scopewarden/scopewarden.env
User=scopewarden
Group=scopewarden

[Install]
WantedBy=multi-user.target

